<div class="wrapper">
    <app-menu></app-menu>

    <div class="main">
        <app-header></app-header>
        <main class="content">
            <div class="container-fluid p-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" aria-current="page">
                            <a routerLink="/">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Gastos Fijos - <strong>{{getMesActual()}} de {{fecha | date: 'YYYY'}}</strong>
                        </li>
                    </ol>
                </nav>
                <h3 class="h3 mb-3 mt-5 text-center"><i class="fas fa-list-alt me-2">                     
                    </i>Gastos Fijos - <strong>{{getMesActual()}} de {{fecha | date: 'YYYY'}}</strong>
                </h3>
                <div class="row">
                    <div class="col-12 col-lg-12 d-flex">
                        <div class="card flex-fill">
                            <div class="card-header">
                                <a class="btn btn-outline-primary float-end" title="crear" (click)="modalCrear()">
                                    <i class="fas fa-check me-2"></i>Crear
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover">
                                        <thead class="table-success">
                                            <tr>
                                                <th>ID</th>
                                                <th>Estado</th>
                                                <th>Nombre</th>
                                                <th>Monto</th>
                                                <th>Proveedor</th>
                                                <th>Fecha</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for(gasto of gastosFijos; track gasto.id) {
                                                <tr>
                                                    <td>{{gasto.id}}</td>
                                                    <td>{{gasto.estadosId.nombre}}</td>
                                                    <td>{{gasto.nombre}}</td>
                                                    <td>{{gasto.monto | currency:'EUR'}}</td>
                                                    <td>{{gasto.proveedoresId.nombre}}</td>
                                                    <td>{{gasto.fecha | date: 'dd/MM/YYYY'}}</td>
                                                    <td class="text-center">
                                                        <a (click)="modalEditar(getDtoFromModel(gasto))" class="text-success me-2" title="editar">
                                                            <i class="fas fa-edit"></i>
                                                        </a>
                                                        <a (click)="eliminar(gasto.id!)" class="text-danger" title="editar">
                                                            <i class="fas fa-trash"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                          
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <app-footer></app-footer>
    </div>
</div>

<!-- modal -->
<ng-template #myModalConf>
    <div class="modal-content" style="background-color: #fff;">
        <div class="modal-header mb-3">
            <h4 class="modal-title">{{modalTitle}}</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"
                (click)="cerrar()" title="cerrar"
            >
            </button>
        </div>
        <div class="modal-body">
            <form name="form" id="form" (submit)="enviar()" #formulario="ngForm">
                <div class="mb-3">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" class="form-control" [(ngModel)]="modeloFormGasto.nombre" 
                        #nombre="ngModel" required="true" placeholder="Introduzca su nombre"
                    >
                    @if(nombre.errors?.['required'] && (nombre.dirty || nombre.touched)) {
                        <div class="alert alert-danger mt-2">
                            El campo nombre es obligatorio
                        </div>
                    }
                </div>

                <div class="mb-3">
                    <label for="monto">Monto</label>
                    <input type="number" name="monto" class="form-control" [(ngModel)]="modeloFormGasto.monto" 
                        #monto="ngModel" required="true" min="0" step="1" placeholder="Introduzca el monto"
                    >
                    @if(monto.errors?.['required'] && (nombre.dirty || nombre.touched)) {
                        <div class="alert alert-danger mt-2">
                            El campo monto es obligatorio. El campo monto solo admite números.
                        </div>
                    }
                </div>

                <div class="mb-3">
                    <label for="proveedoresId">Proovedor</label>
                    <select name="proveedoresId" id="proveedoresId" class="form-control"
                        [(ngModel)]="modeloFormGasto.proveedoresId" #proveedoresId="ngModel" required="true"
                    >
                       <option value="0">Seleccione un proveedor</option>

                       @for(proveedor of proveedoresList; track proveedor.id) {
                        <option value="{{proveedor.id}}"> {{$index + 1 }} - {{proveedor.nombre}}</option>
                       }
                    </select>
                    @if(proveedoresId.errors?.['required'] && (nombre.dirty || nombre.touched)) {
                        <div class="alert alert-danger mt-2">
                            Debe seleccionar un proveedor
                        </div>
                    }
                </div>

                <div class="mb-3 text-end">
                    @if(modalTitle=="Crear") {
                        <button type="submit" class="btn btn-primary" [disabled]="!formulario.form.valid">
                            <i class="fas fa-arrow-up me-2"></i>Crear
                        </button>
                    }@else if (modalTitle == "Editar") {
                        <button type="submit" class="btn btn-warning" [disabled]="!formulario.form.valid">
                            <i class="fas fa-pencil me-2"></i>Editar
                        </button>
                    }
                </div>
            </form>
        </div>
    </div>
 </ng-template>


